

html ,body{
    direction: rtl;
    text-align: right;
}


*{
    list-style: none!important;
}
.box-comments{
    border: 1px solid #dee2e6!important;
    padding: 10px;
    border-radius: 6px;
}

#input-submit{
    background-color: #1d83e9!important;
}