html,
body {
  direction: rtl;
  text-align: right;
}

* {
  list-style: none !important;
}

.post {
  word-break: break-word;
}

.box-comments {
  border: 1px solid #dee2e6 !important;
  padding: 10px;
  border-radius: 6px;
}

#input-submit {
  background-color: #1d83e9 !important;
}

.help-block {
  color: red !important;
}
.img-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
