{% extends 'base.html' %} {% block content %}
{% if messages %}

{% for message in messages  %}
<div class='alert alert-{{message.tags}}'>{{message}}</div>
{% endfor %}

{% endif %}
<div class="row my-5 justify-content-center">
  <div class="col-md-7">
    {% for post in posts %}

    <div class="border p-3 mb-3 post">
      <div class="d-flex align-items-center">
      <div>
          <img
          class="img-fluid rounded-circle border"
          style="width: 70px; height: 70px"
          src="{{user.image.url}}"
          alt="صورة الناشر"
        /><br>
        <span>{{user.first_name}} {{user.last_name}}</span>
      </div>
      
        <div>
          <h3 class="mx-2">
            <a class="text-dark" href="{% url 'detail' post.id %}"
              >{{post.title}}</a
            >
          </h3>
          <span class="text-secondary"
            >نشر في{{ post.post_date|date:' o/n/j ' }}</span
          >
        </div>
      </div>
      <div class="post-content my-3">
        <p>{{post.content}}</p>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="card my-3">
      <h5 class="p-2 bg-secondary text-light">أحدث المنشورات</h5>

      <ul class="list-group p-0">
        {% for post in posts %}
        <li class="list-group-item">
          <a href="{% url 'detail' post.id %}" class="text-dark"
            >{{post.title}}</a
          >
        </li>
        {% empty %}
        <div class="comments border rounded p-2 m-1 text-center">
          لا يوجد المنشورات
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
