{% extends 'base.html' %}
<style>
  .register input{
    width: 100%!important;
}
#register{
    background-color: rebeccapurple;
}
</style>
{% block content %}
{% load crispy_forms_tags %}





<div class="border p-3 mb-5 mt-3 register" id="register w-75">
   <h2 class="p-2 my-3">تسجيل الدحول</h2>
     
  <form method="POST" class="px-2">
     {{form|crispy}}
    {% csrf_token %} 
    
 
      <input type="submit" id="submit" class="btn btn-secondary my-3  " value="تسجيل الدحول">
  </form>
  <small >اذا لم يكان لديك حساب من قبل يمكنك <a href="#">أنشاء حساب جديد من هنا</a></small>
 </div>









{% endblock content %}
